.google-calendar-input-wrapper {
    display: block;
    width: fit-content;
    height: 35px;
    margin: 0 auto;
}

.google-calendar-input-wrapper input {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border: none;
    font-size: 15px;
}

.google-calendar-input-wrapper h3 {
    float: left;
    width: 130px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(102, 102, 102);
}

